* {
font-family: "Helvetica", sans-serif;
text-align: center;
margin: 0;
}

.header {
width: 100vw;
border-bottom: 1px solid black;
}

h3 {
padding-bottom: 1rem;
border-bottom: 1px solid black;
width: 10vw;
margin: auto;
}

.logo {
width: 45vw;
padding-bottom: 1rem;
}

.house {
width: 54vw;
}