* {
font-family: "Helvetica", sans-serif;
text-align: center;
margin: 0;
background-color: #234c5b;
}

.header {
width: 100vw;
background-color: white;
border-bottom: 1px solid black;
}

h3 {
padding-bottom: 1rem;
border-bottom: 1px solid white;
width: 10vw;
color: white;
margin: auto;
}

.logo {
width: 45vw;
padding-bottom: 1rem;
border: none;
background-color: white;
}

.house {
width: 54vw;
}