* {
margin: 0;
text-align: center;
background-color: #0c2a30;
font-family: "Helvetica", sans-serif;
}

.header {
width: 100vw;
background-color: #3b3333;
border-bottom: 1px solid black;
}

h3 {
width: 10vw;
color: white;
margin: auto;
padding-bottom: 1rem;
border-bottom: 1px solid white;
}

.logo {
width: 75vw;
border: none;
padding-bottom: 1rem;
background-color: #3b3333;
}

.artist {
color: white;
font-size: 18pt;
text-decoration: none;
}

.artist:visited {
color: purple;
}

#house, #magazine {
width: 45vw;
}
